body {
  text-align: center;
  background: rgb(61, 11, 11);
 color: rgba(134, 4, 62, 1);
}
label {
  margin: 5pt;
  width: 150px;
  display: -webkit-inline-box;
   color: rgba(237, 13, 13, .5);
}

.form-control {
  background: inherit;
  margin-left: 10%;
}
.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 150px;
  background-color: rgba(134, 4, 62, 1);
  color: rgba(237, 13, 13, 0.64);
}
.form {
  position: relative;
}
.no-border {
  border: 0;
  box-shadow: none;
}
#buttonSubmission {
  background-color: black;
  color:tomato;
  color: rgba(237, 13, 13, 1)
}
.btn {
  margin-top: 5pt;
  padding-top: 5pt;
}
h2 {
  padding-top: 20px;
   color: rgba(237, 13, 13, 1);
}
span {
  color: rgba(237, 13, 13, 1);
  font-size: 20pt;
  text: 30pt;
}
img {
  width: 30%;
  position: absolute;
  top: 40%;
  left: -5%;
  margin-right: 5px;
  padding: 5px;
}
.base {
  z-index: 1;
  margin: 5px;
}
.poison {
  z-index: 3;
}
.pineapple {
  z-index: 4;
}
.pepperoni {
  z-index: 2
}

.pizzaPicture {
  margin: 5px;
  padding: 5px;
}
.main {
  /* float: right; */
}
